.pub {
  width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  .category {
    margin: 20px 0;
  }
  .myEditor {
    .quill-editor-example {
    height: auto;
    .quill-editor {
      height: auto;
      .ql-container.ql-snow {
        height: 500px;
      }
    }
}

  }
  .submit {
    margin-top: 20px;
    float: right;
  }
}

@media only screen and (max-width: 1220px) {
  .pub {
    width: 100%;
    padding: 0 20px;
  }
}